DJANGO_SECRET_KEY=your_secret_key
DB_PASSWORD=ask_hemal_for_password
REDIS_URL=ask_hemal_for_redis_url
AWS_ACCESS_KEY_ID=ask_hemal_for_aws_key
AWS_SECRET_ACCESS_KEY=ask_hemal_for_aws_secret
BREVO_SMTP_PASSWORD=your_own_brevo_test_key
GOOGLE_OAUTH_CLIENT_ID=your_own_google_client_id
GOOGLE_OAUTH_CLIENT_SECRET=your_own_google_secret