# Python / Virtual Environment
.venv/
venv/
__pycache__/
*.pyc

# Database
db.sqlite3
Gearshare/db.sqlite3

# IDE Files
.idea/

# Environment Variables
.env

# Custom Scripts
*selenium*.py

#QA Assets
.qa_assets/
qa_assets/
